<div class="ui horizontal divider"></div>

<div class="ui segment">
    <h4 class="ui dividing header">{{ 'monsieurbiz_sylius_advanced_promotion.promotion.advanced_promotion_configuration'|trans }}</h4>
    {{ sylius_template_event('monsieurbiz.advanced_promotion.admin.promotion.form', _context) }}
</div>
